.contenedor {
    text-align: center;
    position: relative;
}

.texto-centrado {
    background-color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.texto-centrado2 {
    background-color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}