.container {
    background-color: black;
    height: auto;
    width: 100%;
    display: grid;
    /* align-content: space-between; */
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 522px;
}
.titulo {
    margin-right: 250px;
    margin-left: 15px;
}

.logo {
    margin-right: 15px;
}

.card-medio {
    background-color: white;
    display: flex;
    width: 522px;
}

.parrafo {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 260px;
    
}
.box {
    margin-left: 50px;
    margin-top: 30px;
}
.cuadros {
      margin: 10px 10px 10px 10px;
      border-block-start: none;
      border-left: none;
      border-right: none;

}

.card-end {
    background-color: white;
    display: flex;
    width: 522px;
    padding-bottom: 45px;
    justify-content: center;
}
