.body {
    background: black;
}

.todo {
    width: auto;
    text-align: center;
}

.casi-todo {
    margin-top: 70px;
}
.inicio {
    background-color: rgb(247, 10, 10);
}

.post {
    width: 450px;
    height: 495px;
    background: white;
    margin-left: 535px;
}

.post-header {
    padding: 14px;
    padding-bottom: 0px !important;
    display: flex;
}

.separacion {
    margin-right: 265px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.puntitos {
    font-size: 26px;
    padding-top: 5px;
}

.shooter-start {
    display: flex;
    font-size: xx-large;
    margin-left: 7px;
    margin-right: 7px;
}

.shooter-end{
    text-align: justify;
    margin: 10px;
}

.separacion-two {
    margin-right: 214px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.separacion-three {
    margin-right: 214px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.separacion-four {
    margin-right: 270px;
    padding-left: 5px;
    margin-bottom: 5px;
}